body {
  margin: 0;
}
nav {
  float:left;
  width: 190px;
  padding: 10px 30px 10px 10px;
  height: 100%;
  max-height: 100%;
  background-color:#F8F8F8;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  -webkit-transform: translate(-100px,0);
  -webkit-box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

  &span {
    float:right;
  }

  &:hover {
    -webkit-transform: translate(0,0);

    &span {
      -webkit-transition: all 0.2s ease;
      opacity: 0;
    }

    &+section {
      -webkit-transition: all 0.3s ease;
      -webkit-transform: translate(100px,0);
    }
  }

  &:not(:hover) {
    &+section {
      -webkit-transition: all 0.3s ease;
      -webkit-transform: translate(0,0);
    }
  }
}